DirectoryIndex disabled

# RedirectMatch 404 \.picodav\.ini

RewriteEngine On
RewriteBase /local/dav/

# разрешить отдавать статические файлы напрямую:
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Uncomment the following 2 lignes to make things a bit faster for
# downloading files, AND you don't use PicoDAV users to manage access,
# but a regular .htpasswd file and config for your web server.
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_METHOD} !GET

RewriteRule ^.*$ /local/dav/index.php [END]
